@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Palette
$primary-color: #00183e;
$primary-color-light: #5d809f;

$secondary-color: #b9e7ff;
$secondary-color-light: #eef9ff;

$tertiary-color: #fdedfa;

$white-color: #ffffff;
$black-color: #000000;

//Typography
$font-family: 'Montserrat', 'Arial', 'Sans-serif';
$font-size: 1rem;
$font-weight-bold: 700;